body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/****** navbar ******/
.navbar{
    height: 80px;
    background-color: black;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left:0;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
}

.menu a:hover{
    opacity: 0.6;
    color:white;
    border-radius: 4px;
}

/****** header ******/
header{
    width: 100%;
    height: 500px;
    background-color:whitesmoke;
}
.banner_container{
    text-align: center;
    font-size: 45px;
   
}
.banner_container h2{
    font-family: 'Grape Nuts', cursive;
    padding-top: 120px;
    margin-top:0;
    margin-bottom: 120px;
}

.banner_container span{
    display: inline-block;
    margin-top:15px;


}


.banner_container .btn_detail{
   background-color: black;
   border-radius: 10px;
   width: 100px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
} 

.banner_container .btn_detail a{
    display:inline-block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
   
}

.banner_container .btn_detail:hover{
  background-color: lightgrey;
}

.banner_container .btn_detail a:hover{
    color: black;
}
